.containerNavBottom {
    position: absolute;
    width: 100lvw;
    height: 8lvh;
    bottom: 0;
    display: flex;
    justify-content: space-around;


}

.containerNavBottom a {
    background-color: black;
    text-decoration: none;
    font-size: 0.8rem;
  
    color: var(--textColor);
    display: flex;
    align-items: center;
    width: calc(100% /3);
    justify-content: center;
    flex-direction: column;
}

.containerNavBottom :hover {
    background: white;
    opacity: 0.5;
    color: black;
    border-radius: 10px;

}

.Icon{

    font-size: 1.8rem;
    padding: 1px;
    padding: 0.3rem;
}