.containerSongs {
margin-top: 1rem;

    width: 100%;
    height: 100%;
}

.containerSearch {
    width: 100%;
    display: flex;
    padding: 1.2rem;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

}

.input {
    width: 300px;
    padding: 0.4rem 0.4rem;
    border: none;
}

.isFocused {
    border: 2px solid #709ae7;
    background: transparent;
    border-radius: 5px;
    color: rgb(97, 90, 90);
    padding: 0.8rem 1rem;
    outline: none;
}

.unFocused {
    border: 2px solid rgb(240 240 240);
    background: transparent;
    border-radius: 5px;
    padding: 0.8rem 1rem;
    color: rgb(97, 90, 90);
    outline: none;
    animation-duration: 1000ms;
    transition: all ease-in-out;

}

.navIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 1rem;
    border: 1px solid #709ae7;
    border-radius: 5px;
    color: #709ae7;
    font-size: 1rem;

}


.iIcon {
    font-size: 2rem;
    color: red;
}

.addIcon {
    font-size: 2rem;
}

.navIcon:hover {
    cursor: pointer;
    box-shadow: inset;


    border: 2px solid rgb(240 240 240);
}

/* body  */

.containerSongsDashboard {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    flex-direction: column;
    overflow-y: scroll;
}

.containerBody {
    position: relative;
    width: 90%;
    height: 70vh;
    margin: 1rem;
    padding: 1rem;
  
    border-radius: 5px;
}

.count {
    
    position: absolute;
    top: 0rem;
   
    left: 4;
}



.containerSongDash {

    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    /* box-shadow: 0px 0px 21px -4px rgba(92, 91, 92, 1); */
    border-radius: 12px;
    background-size: cover;
    padding: 1rem;
    position: relative;

}

.containerSongDash:hover {
    border: 1px solid #709ae7;
    cursor: pointer;
    background-color: silver;
}

.imgDash {
    width: 25%;
    border-radius: 10px;
    max-height: 200px;
    height: 100%;
    max-width: 100px;
}

::-webkit-scrollbar {
    width: 0.4rem;

}

::-webkit-scrollbar-thumb {
    background-color: rgb(136, 136, 134);
}

.img {
    width: 100%;
    height: 100px;
}

.player {
    position: absolute;
    bottom: 0;
    width: 80vw;
}

.audio {
    position: absolute;
    bottom: 0;
    width: 80vw;
    /* background-color: brown; */
}



@media screen and (max-width:450px) {
    .containerBody{
        position: relative;
        width: 90%;
        height: 70vh;
        padding: 0;
        border-radius: 5px;
    }
    
}