.HeaderBody {
    padding: 1rem;
    display: flex;
    height: 20vh;
    overflow: hidden;
    padding: 0.5rem;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid #d75146;
    background: linear-gradient(183deg, #772A22, #33120F);


}



.containerBodyContent {
    height: 55dvh;
    overflow-y: scroll;
}




::-webkit-scrollbar {
    display: none;
    background: inherit;
}

.containerPlaySongs {
    padding-bottom: 1rem;

    display: flex;
    max-width: 100%;
    justify-content: space-between;
    color: var(--textColor);
    background: linear-gradient(180deg, #351310, #515151);
    padding: 1rem;
    border-bottom: 1px solid #D75146
}

.containerTitle {
    height: 45dvh;
    max-width: 100%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    color: silver;
    /* background: linear-gradient(84deg, #772A22, #33120F); */
}

.containerSongsBody {
    max-width: 100%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    color: silver;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.containerFex {
    display: flex;
    width: 80%;
    gap: 1rem;
}

.playIconH {
    font-size: 2.5rem;
    color: rgb(3, 236, 3);
}

.likeIconH {
    font-size: 1.5rem;
    color: rgb(182, 190, 182);
}


.containerSongHome {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    /* box-shadow: 0px 0px 21px -4px rgba(92, 91, 92, 1); */
    border-radius: 12px;
    background-size: cover;
    overflow: hidden;
    padding: 1rem;

    position: relative;
}

.containerSongHome:hover {
    background-color: #302929;
}

.img {
    width: 35%;
    max-width: 200px;
    border-radius: 10px;
    max-height: 200px;
    height: 100%;
}


.player {
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 50dvw;
    height: auto;
}

.audio {
    width: 100%;
    border: none;

}

.containerNavSide {
    height: 96dvh;
    width: 30dvw;
    background: #515151;
    padding: 1rem;
    overflow: hidden;
    margin: 1rem;
    border-radius: 10px;
}



@media screen and (max-width: 700px) {
    .containerTitle {
        height: 60dvh;
    }

    .containerBodyContent {
        height: 59dvh;
    }

    .HeaderBody p {
        font-size: 3rem;
    }

}

@media screen and (min-width: 900px) {


    .containerBodyContent {
        height: 65dvh;
    }

    .containerTitle {
        height: 50lvh;
    }

    .HeaderBody p {
        font-size: 3rem;
    }


}

@media screen and (max-width: 450px) {

    .HeaderBody p {
        font-size: 1.5rem;
    }
    .containerBodyContent {
        height: 40dvh;
    }
    .containerBodyContentPlayerNone {
        height: 53dvh;
    }
}


@media screen and (min-width: 500px) {

    .containerTitle {
        height: 55dvh;
    }

    .containerBodyContent {
        height: 48dvh;
    }


}