.containerUl{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.containerUl a {
    text-decoration: none;
    color: black;
    font-size: 1rem;

}
.containerUl a:hover{
    color: blue;
    border-bottom: 0.1rem solid black;
}